/* 1. Import Fragment Mono from Google */
@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');

/* 2. Import Tailwind */
@import "tailwindcss";

/* 3. Configure the Theme */
@theme {
  /* Define the font variable */
  --font-fragment: "Fragment Mono", monospace;
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
/* 4. Apply it globally */
:root {
  /* This sets Fragment Mono as the default font for the whole site */
  font-family: var(--font-fragment);
}

body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* In index.css */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}