/* 1. Import Fragment Mono from Google */
@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@100..900&family=Rozha+One&display=swap');

@import "tailwindcss";

@theme {
  --font-fragment: "Fragment Mono", monospace;
  --font-devanagari: "Noto Sans Devanagari", sans-serif;
  --font-rozha: "Rozha One", serif;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }
}
:root {
  font-family: var(--font-fragment);
}

body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* In index.css */
html {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
html::-webkit-scrollbar {
  display: none;
}